/* navbar css */
#navbar {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
#navbar > img {
  margin-left: 20px;
  width: 9vh;
  padding: 10px;
  position: absolute;
  left: 0px;
}
.nav-element {
  display: flex;
  margin: auto;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin: 0 10px;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
}
